vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-P2U6AOV\\PC local
vti_modifiedby:SR|DESKTOP-8EUPJOD\\sivil
vti_timelastmodified:TR|14 Oct 2018 19:06:34 -0000
vti_timecreated:TR|14 Oct 2018 19:06:32 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|photo_gallery/default.html products/default.html about/about.html information_links/default.html services/default.html slots/slots.html slots/aristocrat.html slots/shfl.html system/system.html coming.html about/default.html calendar/default.html contact/default.html employees/default.html employment/default.html news/default.html default.html index.html slots/default.html slots/wms.html fishing/default.html site_map/default.html contact/contact.html slots/igt.html faq/default.html press/default.html promotions/default.html master.dwt fishing/fishing.html
vti_cacheddtm:TX|14 Oct 2018 19:06:34 -0000
vti_filesize:IR|1926
vti_cachedlinkinfo:VX|Q|layout.css
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css
